.add-admin-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-admin{
    display: flex;
    flex-direction: column;
}
.input-admin>input{
    width: 500px;
}
.btn-add-admin{
    background-color:#2BB1BA;
    color: white;
    padding: 15px;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 50px;
}
.btn-add-admin:hover{
    background-color: #1d9da7;
    transition: 300ms;
}