body{
    background-color: #e0e4e7;
}
.admin-dashboard{
    display: flex;
}
.dashboard-container{
    text-align: center;
}
.text-name{
    width: 100%;
    text-align: left;
    padding: 50px;
}
.Cards-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.name{
    color: #5187FC;
}
.card>a{
    color: #5187FC;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    width: 220px;
    height: 200px;
    background-color: white;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.253);
    text-align: center;
    transition: 300ms;
}
.card{
    margin: 10px;
}
.card>a:hover{
    transform: scale(1.05px);
    background-color: #5187FC;
    color: white;
}


