.btn-logout-faculty{
    background-color: transparent;
    font-size: 1.3rem;
    color: red;
}
.btn-logout-faculty:hover{
    background-color: rgb(216, 0, 0);
    transition: 300ms;
    color: white;
}