.navigation{
    width: 250px;
    height: 100%;
    background-color: rgb(45, 61, 151);
    text-align: left;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.158);

}
.logo{
    width: 100%;
}
.navigation-container>.logo>img{
    width: 100px;
    border-radius: 0px;
}
nav>ul>li>a{
    color: white;
}
.nav-item>a>li{
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.nav-item{
    border-top: 1px solid rgba(211, 211, 211, 0.521);
    border-bottom:1px solid rgba(211, 211, 211, 0.521);

}
.nav-item:hover{
    background-color: rgba(211, 211, 211, 0.226);
    border-left: 13px solid yellow;
    transition: 300ms;
    
}
.navigation-container{
    width: 100%;
    height: 100%;
   /*  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.header{
    width: 100%;
    background-color: white;
    height: 70px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.158);
}
.profile{
    display: flex;
    float: right;
    background-color: #5187fc;
    width: 100%;
    max-width: 230px;
    height: 70px;
    align-items: center;
}
.picture{
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 3.5rem;
   color: white;
}
.card-body>h5{
    font-size: 1.2rem;
    margin-right: 30px;
    color: white;
}
.btn-logout{
   background-color: none;
   color: #5187fc;
   font-size: 1.5rem;
   font-weight: bold;
   float: right;
}
.icon{
    font-size: 2rem;
    margin: 0px 18px 0px 0px;
}